.password-manager {
    width: 80%;
    margin: auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.password-form-container {
    width: 100%;
    max-width: 400px; /* Adjust the width as needed */
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px; /* Rounded corners for the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.form-header {
    font-size: 20px;
    color: #333;
    text-align: center;
    margin-bottom: 30px; /* Space below the header */
}

.form-fields {
    display: flex;
    flex-direction: column;
}

.form-input {
    padding: 15px; /* Larger padding for input fields */
    margin-bottom: 15px; /* Space between the fields */
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded corners for the input fields */
    font-size: 16px; /* Larger font size for readability */
}

.form-button {
    padding: 15px;
    border: none;
    background-color: #007bff; /* Blue color for the button */
    color: white;
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase; /* Capital letters for the button text */
    letter-spacing: 1px; /* Spacing between letters for better readability */
}

/* Add hover effect for button for better user experience */
.form-button:hover {
    background-color: #0056b3; /* A shade darker for hover state */
}


.password-list table {
    width: 100%;
    border-collapse: collapse;
}

.password-list th, .password-list td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.password-list th {
    background-color: #007bff;
    color: white;
}

.password-list button {
    border: none;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
