@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #f9f9f9; 
    color: #333;
    margin-bottom: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.title {
    font-size: 24px;
    font-weight: 600; /* Semi-bold for the title */
    color: #333; 
}

.logout-button {
    padding: 8px 16px;
    border: 1px solid #d4d4d4; 
    background-color: #eaeaea; 
    color: #333; 
    border-radius: 4px; 
    cursor: pointer;
    font-weight: 600; /* Semi-bold for the button text */
    transition: background-color 0.2s; /* Smooth transition for hover effect */
}

.logout-button:hover {
    background-color: #d4d4d4; /* Slightly darker grey on hover */
}

.password-manager {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin: auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.password-form-container {
    width: 100%;
    max-width: 400px; /* Adjust the width as needed */
    margin: auto;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px; /* Rounded corners for the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.form-header {
    font-size: 20px;
    color: #333;
    text-align: center;
    margin-bottom: 30px; /* Space below the header */
}

.form-fields {
    display: flex;
    flex-direction: column;
}

.form-input {
    padding: 15px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    font-size: 16px; 
}

.form-button {
    padding: 15px;
    border: none;
    background-color: #337fdd; 
    color: white;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px; 
}

/* Add hover effect for button for better user experience */
.form-button:hover {
    background-color: #0056b3; /* A shade darker for hover state */
}


.password-list table {
    width: 100%;
    border-collapse: collapse;
}

.password-list th, .password-list td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    
}

.password-list th {
    background-color: #337fdd;
    color: white;
    
}

.password-list button {
    border: none;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
